.tour-nav
  background-color: $main-blue-color
  padding: 20px 0
  text-align: center
  position: sticky
  position: -webkit-sticky
  width: 100%
  top: 55px
  @media (min-width: $tablet-content-width)
    top: 0
