/* NAV NAV-ORGANIZER START */

.nav-organizer
  margin: 5px

  @media only screen and (min-width: $tablet-average-content-width)
    margin: 0
    display: block
    position: sticky
    position: -webkit-sticky
    width: 100%
    z-index: 99
    top: 0
    color: $font-grey-color
    border-bottom: 1px solid $border-line-color
    background-color: #ffffff

  @media only screen and (min-width: $tablet-content-width)
    position: unset

.nav-organizer__menu
  @media only screen and (min-width: $tablet-average-content-width)
    display: flex

  .active-link
    @media only screen and (min-width: $tablet-average-content-width)
      background-color: $main-blue-color
      color: #ffffff
      font-weight: 500

.nav-organizer__link
  &:hover
    color: $main-blue-color
  &.active-link:hover
    @media only screen and (min-width: $tablet-average-content-width)
      color: #ffffff

  @media only screen and (min-width: $tablet-average-content-width)
    flex: 1
  a
    display: flex
    justify-content: space-between
    text-decoration: none
    padding: 5% 3%
    border-bottom: 1px solid $border-line-color

    @media only screen and (min-width: $mobile-content-width)
      padding: 5% 10%

    @media only screen and (min-width: $tablet-average-content-width)
      display: inline-block
      width: 100%
      height: 100%
      padding: 10px 5px
      border-bottom: none
      font-size: 15px
      letter-spacing: 1px
      text-align: center
    @media only screen and (min-width: $tablet-content-width)
      padding: 12px 5px

.nav-organizer__right
  i
    padding-left: 10px

  @media only screen and (min-width: $tablet-average-content-width)
    display: none

.nav-organizer__unread
  font-size: 15px
  font-weight: 600
  color: $main-blue-color

//не показывать меню Чат в десткопной версии
#chat-head
  @media only screen and (min-width: $tablet-average-content-width)
    display: none

//перенести Профиль в начало списка в десктопной версии
#profile-head
  order: -1

/* NAV NAV-ORGANIZER FINISH */