.nav-organizer
  position: unset !important

.mobile-warning
  padding: 10px
  font-size: 13px

.program-form
  display: none

  @media only screen and (min-width: $tablet-average-content-width)
    font-size: 13px
    margin-top: 20px
    padding: 0 10px
    display: block

  @media only screen and (min-width: $tablet-content-width)
    margin-top: 25px
    padding: 0 20px

  @media only screen and (min-width: $desktop-content-width)
    padding: 0 30px

  input[type="text"]
    width: 97%
    border: none

  input[type="number"]
    height: 100%
    width: 100%
    border: none

  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label
    font-size: 12px


  //input[type="radio"]:checked + label:after,
  //input[type="radio"]:not(:checked) + label:after
    left: 4px
    top: 2px
    width: 14px
    height: 14px
    border-radius: 100%
    background-color: $main-blue-color

  select
    width: 100%
    height: 100%
    border: none
    background: none

  textarea
    width: 98%
    border: none
    padding: 12px 10px

  .group
    display: flex
    align-items: center
    input[type="number"]
      width: 15%
      &:nth-child(2)
        width: 85%
        border-left: 1px dotted $border-line-color
        border-radius: 10px

//.new-program-nav
  text-transform: uppercase
  h2
    display: none

  //@media only screen and (min-width: 900px)
    display: flex
    justify-content: space-between
    align-items: center
    h2
      display: block
      font-weight: 500
      font-size: 16px
      letter-spacing: 1px
      color: $main-blue-color
      margin-left: 25px
      &:after
        content: ':'

  @media only screen and (min-width: $desktop-content-width)
    margin-top: 30px

.new-program-nav__steps
  text-transform: uppercase
  display: flex
  justify-content: flex-end
  font-size: 12px

.new-program-nav__step
  display: inline-block
  color: $font-grey-color
  padding: 10px 20px
  cursor: pointer
  &.current
    color: $main-blue-color
  &:hover
    text-decoration: underline

.program-form__step
  //margin-bottom: 30px

.day-box
  margin-bottom: 5px

  @media only screen and (min-width: $desktop-content-width)
    margin-bottom: 8px

  &.opened
    margin: 20px 0
    &:first-child
      margin-top: 0

.program-form__field
  display: flex
  margin-bottom: 5px
  min-height: 40px
  height: 100%

  &.day
    margin: 0

  &.start
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $bkg-grey-color
    border-radius: 12px
    height: 50px
    color: $font-grey-color
    border: 1px solid $border-line-color
    padding: 0 20px 0 50px
    -webkit-transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335), color 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335)
    -moz-transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335), color 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335)
    -o-transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335), color 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335)
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335), color 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335)
    .day-title
      font-size: 14px
      cursor: pointer

    .symbol
      font-size: 9px
    i
      padding: 5px
      margin: 0 10px
      font-size: 16px
      cursor: pointer
      &:last-child
        margin-right: 0

    &.opened
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
      color: $main-blue-color
      padding-left: 100px
      border-bottom-style: dotted
      .symbol
        color: $main-blue-color
        cursor: pointer
    &.add
      cursor: pointer
      //background: $orange-color
      //border-style: dotted
      span
        //color: #ffffff
        //font-weight: 400

    @media only screen and (min-width: 900px)
      padding: 0 40px

  .help::before
    font-size: 13px
    padding: 5px
    margin-right: 2px

.program-form__title
  display: flex
  align-items: baseline
  justify-content: flex-end
  width: 300px
  color: $font-grey-color
  min-height: 40px
  padding: 11px 10px 11px 5px
  background-color: $bkg-grey-color
  border: 1px solid $border-line-color
  border-right: none
  border-top-left-radius: 12px
  border-bottom-left-radius: 12px
  &.day
    width: 225px
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    border-bottom: none
    border-top: none
    background-color: unset
    border-right: $bkg-grey-color
    &.end
      border-bottom-left-radius: 12px
      border-bottom: 1px solid $border-line-color

.program-form__text
  width: 100%
  border: 1px solid $border-line-color
  border-left-style: dotted
  border-top-right-radius: 12px
  border-bottom-right-radius: 12px
  &.day
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    border-top: none
    border-bottom: 1px dotted $border-line-color
    min-height: 40px
    height: 100%
    &.end
      border-bottom-right-radius: 12px
      border-bottom: 1px solid $border-line-color

    @media only screen and (min-width: $tablet-content-width)
      padding-right: 6px

  .cover-box
    cursor: pointer
    width: 100%

    .group
      justify-content: space-between
      padding: 11px 15px
      .text
        word-spacing: 2px

    .checkbox-block
      display: none
      column-count: 2
      margin-bottom: 10px
      div
        display: inline-block
        margin-bottom: 5px
        padding-left: 15px
        width: 100%
      @media only screen and (min-width: 900px)
        column-count: 3
      @media only screen and (min-width: 1100px)
        column-count: 4

  .radio-cover
    display: flex
    color: $font-grey-color
    padding-left: 12px
    height: 100%
    div
      display: flex
      align-items: center
      margin-right: 15px
      &:last-child
        margin-right: 0
      input[type="radio"]:checked + label:after,
      input[type="radio"]:not(:checked) + label:after
        top: 12px

  .select-cover
    display: flex
    align-items: center
    width: 100%

  .checkbox-cover
    position: relative
    display: flex
    align-items: center
    height: 100%
    margin-left: 12px
    margin-right: 8px
    //padding-left: 7px
    //padding-top: 3px
    //margin-bottom: 15px
    span.text
      display: none
      position: absolute
      z-index: 5
      top: 11px
      left: 3px

    .fade
      flex: 1
      margin-left: -13px

  #multi-country
    margin-bottom: 5px
    margin-left: 1px

  .country-list
    margin-top: 34px
    span
      display: inline-block
      padding: 6px 0 7px 17px
    .delete-clone
      padding: 0
      &::after
        font-family: 'fontello'
        font-weight: normal
        font-style: normal
        content: '\e81c'  //icon-minus-circled
        cursor: pointer
        padding: 3px
        font-size: 13px
        margin-left: 2px
        color: $font-grey-color
        opacity: 0.8
      &:hover:after
        color: $main-blue-color
        opacity: 1


  #country-added::before
    position: absolute
    font-family: 'fontello'
    font-weight: normal
    font-style: normal
    z-index: -1
    content: '\e8b8'   // icon-plus-circled-1
    color: $font-grey-color
    font-size: 13px
    bottom: 11px
    left: 55px
    opacity: 0.8

  .day__text
    height: 100%
    width: 100%

  .btn-action
    width: 110px
    padding: 5px
    border: 1px solid #00b8e3
    border-radius: 12px
    font-size: 10px
    font-weight: 500
    text-align: center
    margin-right: 20px
    &:last-child
      margin-right: 30px



.repeat-4-all
  line-height: 30px
  align-self: baseline
  input[type="checkbox"]:checked + label:before,
  input[type="checkbox"]:not(:checked) + label:before
    margin-top: 5px

  input[type="checkbox"]:checked + label:after,
  input[type="checkbox"]:not(:checked) + label:after
    margin-top: 7px

//////////////////////////////////////////////


.program-form__image-result
  position: relative
  img
    border-radius: 15px
    border: 2px solid #ffffff




.new-program__bottom
  margin-top: 50px
  margin-bottom: 30px
  position: relative
  div
    min-width: 190px

  .help
    position: absolute
    top: 1px
    right: 1px